services:
  mysql:
    image: mysql:8.0
    container_name: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: app
      MYSQL_USER: user
      MYSQL_PASSWORD: user
    ports:
      - "3307:3306"
    command:
      - --default-authentication-plugin=mysql_native_password
      - --bind-address=0.0.0.0

volumes:
  mysql_data:
